

<div class="mainbox">
	<div class="result">{{ result }}</div>

	<div class="tile" (click)="onSelect(7)">7</div>
	<div class="tile" (click)="onSelect(8)">8</div>
	<div class="tile" (click)="onSelect(9)">9</div>
	<div class="tile" (click)="onSelect(X)">X</div>
	
	<div class="tile" (click)="onSelect(4)">4</div>
	<div class="tile" (click)="onSelect(5)">5</div>
	<div class="tile" (click)="onSelect(6)">6</div>
	<div class="tile" (click)="onSelect(m)">-</div>
	
	<div class="tile" (click)="onSelect(1)">1</div>
	<div class="tile" (click)="onSelect(2)">2</div>
	<div class="tile" (click)="onSelect('3')">3</div>
	<div class="tile" (click)="onSelect('a')">+</div>
	
	<div class="tile" (click)="onSelect('c')">c</div>
	<div class="tile" (click)="onSelect(0)">0</div>
	<div class="tile">.</div>
	<div class="tile" (click)="onSelect('e')">=</div>
<div>
